.display-1{
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
th{
    background-color: rgb(192, 174, 209);
}
a{
    text-decoration: none;
    color:black;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}
a:hover{
    color:purple;
    text-decoration: underline ;
}

img{
   
    border: 4px solid rgb(168, 123, 209);
    border-radius: 20%;
}
td{
    background-color: rgb(233, 218, 253);
}
